body{
    height: auto;
    width: auto;
    border-radius: 0px;
    background-color: #0B4619;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.texto_e_imagenes{
    display: flex;
    justify-content: center;
}

.texto_nombre{
    position: absolute;
    top: 10em;
    left: 18em;
    font-size: 2em;
    color: #FFCC1D;
}
.foto_centro img{

    height: auto;
    width: auto;
}
.texto_de_la_pagina{
    left: 300em;
    width: 40em;
    font-size: 100%;
    color: #E8E8CC;
}
.botones{
    display: flex;
    justify-content: center;
}}